/* 
background color: #fff
main: #000
secondary: b1b1b1
*/

.theme {
  background-color:#fff;
  font-family: "Montserrat", sans-serif;  

}




.logo {
  background-color:#fff;
  float:left;
  width:40%;
  text-align:center
}

.pic {
  width:10%;
}


/*grid stuff here*/
.photos {
  grid-area: photos;
  width:45vw;
  height:50vh;

}
.stream {
  grid-area: stream;
  width:50vw;
  height:50vh;

  

}
.videos {
  grid-area: videos;
  
}



.grid-container {
  display: grid;
  grid-template-areas:
  'photos photos photos stream stream stream'
    'photos photos photos stream stream stream'
    'videos videos videos videos videos videos';
  grid-gap: 0px;
  background-color: #fff;
  padding: 10px;
  max-width: 100vw;
  max-height: 100vh;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 30px;
}

.welcome {

text-align:center;
}

.welcome-logo {
margin-top:5%;
height:50%;

}